.stamp-form_content {
    background-color: #F2F2F2;
    padding-bottom: 10%;
}

.stamp-form_head_text {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 5%;
}

.stamp_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.stamp_button-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33vw;
    height: 10vw;
    font-size: 20px;
    background-color: white;
    text-decoration: none;
    border: 1px solid #eeeeeea2;
    font-weight: bold;
    margin-bottom: 3vw;
}
